.venv/
.direnv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
uv.lock

out/
artifacts/

examples/
proj-in-latex*.txt

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

.DS_Store
